html, body {
  background-color: #f9f9f9;
}
html {
  animation: feadin 600ms ease-in-out forwards;
  opacity: 0;
}
body,
p,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  color: #444;
  line-height: 1.4em;
}
a {
  text-decoration: none;
  color: #5a7c7d;
}
li {
  list-style-type: none;
}
.navigation {
  background-color: #eee;
  width: 100%;
  position: fixed;
}
.navigation .mainNav {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-respons {
  -ms-flex-flow: row;
      flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.boxPading {
  box-sizing: border-box;
}
.postTitle {
  font-weight: 700;
}
.btn {
  border: none;
  padding: 7px 40px;
  border-radius: 2px;
  color: #eee;
  background-color: #77aaad;
  margin: 5px;
}
.btn__denger {
  background-color: #526360;
}
.header {
  width: 100%;
  height: 200px;
  background-color: #ddd;
}
.header .postTitle {
  text-align: center;
  color: #444;
  margin: 20px;
}
.content {
  width: 100%;
  height: auto;
  padding: 100px 20px;
}
.content .postCart {
  width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: #fff;
  margin: 10px;
}
.content .postCart .postContent article {
  margin-top: 20px;
  margin-bottom: 20px;
}

.postPage {
  max-width: 685px;
}
.postPage .data-box {
  color: #777;
  font-size: 0.9em;
}

.postPage .postMenu {
  padding: 20px;
  float: right;
  margin-top: 20px;
}
@keyframes feadin {
  to {
    opacity: 1;
  }
}
